/* Reset some default styles */
body, h1, p, ul, li {
    margin: 1;
    padding: 5;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #e6dddd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b1b1b;
    color: #fdfbfb;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #a79090;
    color: #b64f4f;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(0, 100%, 99%);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.main-article {
    grid-column: span 2;
    border: 1px solid #020202;
    padding: 20px;
    text-align:   center;
    text-justify: justify;
}

.article {
    border: 1px solid #5f5c5c;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}

footer {
    background-color: #eedddd;
    color: #fff;
    text-align: center;
    padding: 10px;
    clear: both;
}
